<ion-content class="doc-bg">

  <!-- Header -->
<div class="header">

  <div class="header-top">
    <ion-button fill="clear" class="back-btn" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>

    <div>
      <h2>My Documents</h2>
      <p>Your secure files</p>
    </div>
  </div>

</div>
  <!-- 🔍 SEARCH -->
   <div class="sticky-filters">

<ion-searchbar 
  [(ngModel)]="searchText"
  placeholder="Search documents..."
  (ionInput)="onSearchChange()">
</ion-searchbar>
<div class="suggestions" *ngIf="suggestions.length > 0">

  <div 
    class="suggestion-item"
    *ngFor="let s of suggestions"
    (click)="selectSuggestion(s)">
    {{ s }}
  </div>

</div>
<!-- 🔹 FILTERS -->
<div class="filters">

  <!-- Members -->
  <div class="filter-row">
    <button 
      class="chip"
      [class.active]="selectedMember === ''"
      (click)="selectMember('')">
      All
    </button>

    <button 
      class="chip"
      *ngFor="let m of members"
      [class.active]="selectedMember === m.name"
      (click)="selectMember(m.name)">
      {{ m.name }}
    </button>
  </div>

  <!-- Categories -->
  <div class="filter-row">
    <button 
      class="chip"
      [class.active]="selectedCategory === ''"
      (click)="selectCategory('')">
      All
    </button>

    <button 
      class="chip"
      *ngFor="let c of categories"
      [class.active]="selectedCategory === c.name"
      (click)="selectCategory(c.name)">
      {{ c.name }}
    </button>
  </div>

  <!-- Types (NEW) -->
  <div class="filter-row">
    <button 
      class="chip"
      [class.active]="selectedType === ''"
      (click)="selectType('')">
      All
    </button>

    <button 
      class="chip"
      *ngFor="let t of types"
      [class.active]="selectedType === t.name"
      (click)="selectType(t.name)">
      {{ t.name }}
    </button>
  </div>

</div>
<div class="sort-row">
  <button 
    class="chip"
    [class.active]="sortOrder === 'latest'"
    (click)="setSort('latest')">
    Latest
  </button>

  <button 
    class="chip"
    [class.active]="sortOrder === 'oldest'"
    (click)="setSort('oldest')">
    Oldest
  </button>
</div>
</div>
  <!-- List -->
<div class="grid">

  <!-- 🔹 SKELETON LOADER -->
  <ng-container *ngIf="isLoading">
    <div class="file-card" *ngFor="let s of [1,2,3,4,5,6,7,8,9,10,11,12,13,14]">
      <div class="thumb">
        <div class="skeleton"></div>
      </div>

      <div class="meta">
        <div class="skeleton-text"></div>
        <div class="skeleton-text small"></div>
        <div class="skeleton-text small"></div>
      </div>
    </div>
  </ng-container>

  <!-- 🔹 REAL DATA -->
  <ng-container *ngIf="!isLoading">
    <div class="file-card" *ngFor="let doc of documents"  [class.restoring]="doc.isRestoring"  [class.deleting]="doc.isDeleting">

<div class="thumb">
<div class="overlay-actions">

  <ion-button fill="clear" (click)="viewDoc(doc)">
    <ion-icon name="eye-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" (click)="downloadDoc(doc)">
    <ion-icon name="download-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" (click)="shareDoc(doc)">
    <ion-icon name="share-social-outline"></ion-icon>
  </ion-button>

</div>
  <div class="top-bar">
    <ion-button fill="clear" (click)="openMenu(doc)">
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-button>
  </div>

  <img [src]="doc.preview" />
        <div class="pdf-badge" *ngIf="doc.file_url?.includes('.pdf')">PDF</div>

</div>


      <div class="meta">
<h3 
  class="title"
 [innerHTML]="highlight(doc.types?.name)"></h3>
<p class="sub" 👤 [innerHTML]="highlight(doc.members?.name)"></p>
<p class="sub" 📁 [innerHTML]="highlight(doc.categories?.name)"></p>
      </div>

    </div>
  </ng-container>

</div>

  <!-- MODAL -->
  <ion-modal [isOpen]="isPreviewOpen">
    <ng-template>

      <ion-header>
        <ion-toolbar>
          <ion-title>Preview</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closePreview()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="preview-content">

        <!-- IMAGE -->
        <img 
          *ngIf="!isPdf"
          [src]="selectedDocUrl"
          class="zoom-img"
        />

        <!-- PDF -->
        <iframe 
          *ngIf="isPdf"
          [src]="safeUrl"
          class="preview-frame">
        </iframe>

      </ion-content>

    </ng-template>
  </ion-modal>

</ion-content>