<ion-content class="splash-bg">

  <!-- GLOW -->

  <div class="splash-glow"></div>

  <!-- CONTENT -->

  <div class="splash-container">

    <!-- LOGO -->

    <div class="logo-ring">

      <div class="logo-inner">

        <ion-icon
          name="shield-checkmark">
        </ion-icon>

      </div>

    </div>

    <!-- TITLE -->

    <h1>
      DocVault
    </h1>

    <p>
      Secure Encrypted Storage
    </p>

    <!-- LOADER -->

    <div class="loader">

      <div class="loader-bar"></div>

    </div>

  </div>

</ion-content>