<ion-header
  class="app-header">

  <ion-toolbar>

    <!-- ☰ MENU -->

    <ion-buttons slot="start">

      <ion-menu-button>
      </ion-menu-button>

    </ion-buttons>

    <ion-title>
      Dashboard
    </ion-title>

  </ion-toolbar>

</ion-header>
<ion-content class="app-bg">

  <div class="page-container">

    <!-- User Profile -->
    <div class="user-profile" *ngIf="profile">

      <img
        [src]="profile.photoUrl"
        class="user-avatar"
        alt="Profile">

      <h3>{{ profile.displayName }}</h3>

      <!-- <p>Welcome back 👋</p> -->

    </div>

    <div class="page-header">
      <h2>Welcome back 👋</h2>
      <p>Your secure document vault</p>
    </div>

    <div class="app-grid">

      <div class="glass-card app-widget" (click)="goToUpload()">
        <span>📤</span>
        <p>Upload</p>
      </div>

      <div class="glass-card app-widget" (click)="goToDocuments()">
        <span>📄</span>
        <p>Documents</p>
      </div>

      <div class="glass-card app-widget">
        <span>🏥</span>
        <p>Reports</p>
      </div>

      <div class="glass-card app-widget">
        <span>🆔</span>
        <p>ID Cards</p>
      </div>

    </div>

  </div>

</ion-content>