// .dashboard-bg {
//   --background: linear-gradient(135deg, #6a11cb, #2575fc);
//   padding: 20px;
//   color: white;
// }

// /* Header */
// .header {
//   margin-bottom: 25px;

//   h2 {
//     font-size: 24px;
//     font-weight: bold;
//   }

//   p {
//     opacity: 0.8;
//   }
// }

// /* Grid layout */
// .grid {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   gap: 15px;
// }

// /* Widget cards */
// .widget {
//   background: rgba(255, 255, 255, 0.15);
//   backdrop-filter: blur(10px);
//   border-radius: 20px;
//   padding: 20px;
//   text-align: center;
//   box-shadow: 0 8px 20px rgba(0,0,0,0.2);
//   transition: 0.2s;

//   span {
//     font-size: 28px;
//     display: block;
//     margin-bottom: 10px;
//   }

//   p {
//     font-size: 14px;
//     font-weight: 500;
//   }
// }

// .widget:active {
//   transform: scale(0.95);
// }

.app-header ion-toolbar {

  --background:
    rgba(10,16,28,0.85);

  --border-color:
    rgba(255,255,255,0.05);

  --color: white;

  backdrop-filter: blur(16px);
}

ion-menu-button {

  color: white;
}