<ion-content class="app-bg">

  <div class="page-container">

    <div class="page-header">
      <h2>Welcome 👋</h2>
      <p>Your secure document vault</p>
    </div>

    <div class="app-grid">

      <div class="glass-card app-widget" (click)="goToUpload()">
        <span>📤</span>
        <p>Upload</p>
      </div>

      <div class="glass-card app-widget" (click)="goToDocuments()">
        <span>📄</span>
        <p>Documents</p>
      </div>

      <div class="glass-card app-widget">
        <span>🏥</span>
        <p>Reports</p>
      </div>

      <div class="glass-card app-widget">
        <span>🆔</span>
        <p>ID Cards</p>
      </div>
<!-- <ion-button
  (click)="vaultService.clearKey()">

  Test Vault Lock

</ion-button> -->
    </div>

  </div>

</ion-content>