<ion-content class="dashboard-bg">

  <div class="header">
    <h2>Welcome 👋</h2>
    <p>Your secure document vault</p>
  </div>

  <div class="grid">

    <div class="widget" (click)="goToUpload()">
      <span>📤</span>
      <p>Upload</p>
    </div>

    <div class="widget" (click)="goToDocuments()">
      <span>📄</span>
      <p>Documents</p>
    </div>

    <div class="widget">
      <span>🏥</span>
      <p>Reports</p>
    </div>

    <div class="widget">
      <span>🆔</span>
      <p>ID Cards</p>
    </div>

  </div>

</ion-content>